<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>region</title>
</head>
<body>

<center>
    <h2>Toatal Region : {{n}}</h2></center>
<h4>
    <a href="{% url 'home' %}">Home</a><br><br></h4>
    <a href="{% url 'home' %}">Back</a><br><br></h4>
<center>

<a href="{% url 'Southern_Africa' %}">Southern_Africa</a><br><br>
<a href="{% url 'South_America' %}">South_America</a><br><br>
<a href="{% url 'Europe' %}">Europe</a><br><br>
<a href="{% url 'Africa' %}">Africa</a><br><br>
<a href="{% url 'Southern_Europe' %}">Southern_Europe</a><br><br>
<a href="{% url 'Oceania' %}">Oceania</a><br><br>
<a href="{% url 'Northern_Europe' %}">Northern_Europe</a><br><br>
<a href="{% url 'Northern_America' %}">Northern_America</a><br><br>
<a href="{% url 'Eastern_Africa' %}">Eastern_Africa</a><br><br>
<a href="{% url 'Western_Asia' %}">Western_Asia</a><br><br>
<a href="{% url 'South_Eastern_Asia' %}">South_Eastern_Asia</a><br><br>
<a href="{% url 'World' %}">World</a><br><br>
<a href="{% url 'Asia' %}">Asia</a><br><br>
<a href="{% url 'Southern_Asia' %}">Southern_Asia</a><br><br>
<a href="{% url 'Eastern_Europe' %}">Eastern_Europe</a><br><br>
<a href="{% url 'Central_Africa' %}">Central_Africa</a><br><br>
<a href="{% url 'Western_Africa' %}">Western_Africa</a><br><br>
<a href="{% url 'Western_Europe' %}">Western_Europe</a><br><br>
<a href="{% url 'Northern_Africa' %}">Northern_Africa</a><br><br>
<a href="{% url 'Central_Asia' %}">Central_Asia</a><br><br>
<a href="{% url 'Central_America' %}">Central_America</a><br><br>

</center>
</body>
</html>