<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sector</title>
</head>
<body>
<center>
    <h2>Total Sector : {{n}}</h2></center>
    <h4>
    <a href="{% url 'home' %}">home</a><br></h4>
    <a href="{% url 'home' %}">back</a><br></h4>
<center>
<a href="{% url 'all' %}">all</a><br><br>
    <a href="{% url 'financial_services_sector' %}">financial_services_sector</a><br><br>
    <a href="{% url 'contruct' %}">contruct</a><br><br>
    <a href="{% url 'support_services' %}">support_services</a><br><br>
    <a href="{% url 'environment' %}">environment</a><br><br>
    <a href="{% url 'Information_Technology' %}">Information_Technology</a><br><br>
    <a href="{% url 'Energy' %}">Energy</a><br><br>
    <a href="{% url 'Healthcare' %}">Healthcare</a><br><br>
    <a href="{% url 'Tourism_hospitality' %}">Tourism_hospitality</a><br><br>
    <a href="{% url 'Media_entertainment' %}">Media_entertainment</a><br><br>
    <a href="{% url 'Security' %}">Security</a><br><br>
    <a href="{% url 'Food_agriculture' %}">Food_agriculture</a><br><br>
    <a href="{% url 'Manufacturing' %}">Manufacturing</a><br><br>
    <a href="{% url 'Transport' %}">Transport</a><br><br>
    <a href="{% url 'Government' %}">Government</a><br><br>
    <a href="{% url 'Aerospace_defence' %}">Aerospace_defence</a><br><br>
    <a href="{% url 'Water' %}">Water</a><br><br>
    <a href="{% url 'Automotive' %}">Automotive</a><br><br>

</center>
</body>
</html>